<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- ============================= -->
    <!-- Allgemeine Properties -->
    <!-- ============================= -->

    <!-- App-Name (optional) -->
    <property name="APP_NAME" value="bcp-andwendung"/>

    <!-- Log-Verzeichnis -->
    <property name="LOG_PATH" value="logs"/>

    <!-- ============================= -->
    <!-- Pattern (Spring-Boot-ähnlich) -->
    <!-- ============================= -->

    <property name="LOGBACK_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{36} : %msg%n"/>

    <!-- ============================= -->
    <!-- Appender -->
    <!-- ============================= -->

    <!-- Konsole -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOGBACK_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Datei mit Rotation -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOGBACK_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ============================= -->
    <!-- Klassen- / Paketsteuerung -->
    <!-- ============================= -->

    <!-- gesamtes Projekt-->
    <logger name="ChatAnwendung" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- InputHandler -->

    <logger name="ChatAnwendung.Impl.Handler.InputHandlers" level="DEBUG" additivity="true">
            <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ChatAnwendung.Impl.Handler.Common.ExceptionHandler" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Receive Handler -->

    <logger name="ChatAnwendung.Impl.Handler.ReceiverHandlers" level="DEBUG" additivity="true">
        <appender-ref ref="CONSOLE"/>
    </logger>

<!--    <logger name="ChatAnwendung.Impl.Handler.ReceiverHandlers.FileInitReceiveHandler" level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    <logger name="ChatAnwendung.Impl.Handler.ReceiverHandlers.FileEndRecieveHandler" level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    <logger name="ChatAnwendung.Impl.Handler.ReceiverHandlers.FileDataRecieveHandler" level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    <logger name="ChatAnwendung.Impl.Handler.ReceiverHandlers.RequestRecieveHandler" level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    <logger name="ChatAnwendung.Impl.Handler.ReceiverHandlers.RecieverHandlerImpl" level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <!-- Persistence -->

<!--    <logger name="ChatAnwendung.Impl.persistence" level="DEBUG" additivity="true">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <logger name="ChatAnwendung.Impl.persistence.File" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ChatAnwendung.Impl.persistence.DownloadFiles" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>


    <!-- Frequently Sender -->

<!--    <logger name="ChatAnwendung.Impl.FrequentlySender" level="DEBUG" additivity="true">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <logger name="ChatAnwendung.Impl.FrequentlySender.RequestSender" level="DEBUG">
        <appender-ref reg ="CONSOLE"/>
    </logger>



    <!-- MISC -->

    <logger name="ChatAnwendung.Impl.RecieverImpl" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ChatAnwendung.Impl.TimeoutHandler" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ChatAnwendung.Main" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>




    <!-- Fremdbibliotheken einschränken -->
    <logger name="org.slf4j" level="WARN"/>
    <logger name="org.apache" level="WARN"/>

</configuration>


