<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- ============================= -->
    <!-- Allgemeine Properties -->
    <!-- ============================= -->

    <!-- App-Name (optional) -->
    <property name="APP_NAME" value="bcp-andwendung"/>

    <!-- Log-Verzeichnis -->
    <property name="LOG_PATH" value="logs"/>

    <!-- ============================= -->
    <!-- Pattern (Spring-Boot-ähnlich) -->
    <!-- ============================= -->

    <property name="LOGBACK_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{36} : %msg%n"/>

    <property name="CONSOLE_PATTERN"
              value="%msg%n"/>

    <!-- ============================= -->
    <!-- Appender -->
    <!-- ============================= -->

    <!-- Konsole -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Datei mit Rotation -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOGBACK_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ============================= -->
    <!-- Klassen- / Paketsteuerung -->
    <!-- ============================= -->

<!--    &lt;!&ndash; gesamtes Projekt&ndash;&gt;-->
<!--    <logger name="ChatAnwendung" level="INFO">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <logger name="ChatAnwendung" level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>




    <!-- Fremdbibliotheken einschränken -->
    <logger name="org.slf4j" level="WARN"/>
    <logger name="org.apache" level="WARN"/>

</configuration>


